* text=auto

*.cs text diff=csharp
*.json text
*.xml text
*.yaml text
*.yml text
*.md text
*.shader text
*.cginc text
*.compute text
*.meta text

*.unity text
*.asset text
*.prefab text
*.mat text
*.controller text

*.exe binary
*.dll binary
*.so binary
*.pdb binary
*.mdb binary
*.zip binary
*.7z binary
*.png binary
*.jpg binary
*.jpeg binary
*.tga binary
*.psd binary
*.fbx binary
*.obj binary
*.wav binary
*.mp3 binary
*.ttf binary
*.otf binary
